@model IEnumerable<AprendeLibre.Models.Clase>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Clases";
}


<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>

    <body>
    <div class="help-card">
        <img src="~/img/ilustracion-clase.png" alt="Ayuda" class="help-image">
        <div class="help-text">
            <h2>¿Cómo funciona esta pestaña de clase?</h2>
            <p>En esta sección, puedes seleccionar diferentes materias para ver las clases disponibles.</p>
            <h2>¿Cómo navegar?</h2>
            <p>Haz clic en una de las cartas de materia para ser redirigido a la vista de clases específicas de esa materia.</p>
        </div>
    </div>

    <h2 class="titulo-clases">Clases</h2>
    <div class="cards-container">
        <div class="card">
            <div class="card-image">
                <img class="img-M" src="~/img/img-claseMatematicas.jpg" alt="Alternate Text" />
            </div>
            <div class="category">Matematicas</div>
            <div class="heading">
                Aprende con ejemplos prácticos
                <div class="author">By <span class="name">AprendeLibre</span></div>
            </div>
            <button class="ver-clases-btn" onclick="location.href='@Url.Action("Matematicas", "Clase")'">Ver clases</button>
        </div>

        <div class="card">
            <div class="card-image">
                <img class="img-C" src="~/img/img-claseCienciasNaturales.jpg" alt="Alternate Text" />
            </div>
            <div class="category">Ciencias Naturales</div>
            <div class="heading">
                Explora los secretos de la naturaleza
                <div class="author">By <span class="name">AprendeLibre</span></div>
            </div>
            <button class="ver-clases-btn" onclick="location.href='@Url.Action("Ciencias_Naturales", "Clase")'">Ver clases</button>
        </div>

        <div class="card">
            <div class="card-image">
                
                <img class="img-I" src="~/img/img-claseIngles.jpg" alt="Alternate Text" />
            </div>
            <div class="category">Ingles</div>
            <div class="heading">
                Mejora tu inglés con lecciones divertidas
                <div class="author">By <span class="name">AprendeLibre</span></div>
            </div>
            <button class="ver-clases-btn" onclick="location.href='@Url.Action("Ingles", "Clase")'">Ver clases</button>
        </div>

        <div class="card">
            <div class="card-image">
                <img class="img-S" src="~/img/img-claseSociales.jpg" alt="Alternate Text" />
            </div>
            <div class="category">Sociales</div>
            <div class="heading">
                Conoce la historia y la sociedad
                <div class="author">By <span class="name">AprendeLibre</span></div>
            </div>
            <button class="ver-clases-btn" onclick="location.href='@Url.Action("Sociales", "Clase")'">Ver clases</button>
        </div>

        <div class="card">
            <div class="card-image">
                <img class="img-E" src="~/img/img-claseEspañol.jpg" alt="Alternate Text" />
            </div>
            <div class="category">Español</div>
            <div class="heading">
                Aprende español con textos y análisis
                <div class="author">By <span class="name">AprendeLibre</span></div>
            </div>
            <button class="ver-clases-btn" onclick="location.href='@Url.Action("Español", "Clase")'">Ver clases</button>
        </div>

        <div class="card">
            <div class="card-image">
                <img class="img-ET" src="~/img/img-claseEtica.jpg" alt="Alternate Text" />
            </div>
            <div class="category">Etica</div>
            <div class="heading">
                Reflexiona sobre la ética y valores
                <div class="author">By <span class="name">AprendeLibre</span></div>
            </div>
            <button class="ver-clases-btn" onclick="location.href='@Url.Action("Etica", "Clase")'">Ver clases</button>
        </div>
    </div>

    </body>

    <style>
        a{
            text-decoration:none;
            color:white;
        }
    </style>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>